*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

ul{
    padding: 0px!important; 
}

body{
    width: 100%;
    height: 100%;
    margin: 0 auto;    
}

.menu-principal{
    width: 100%;
    background-color: #252323;
    height: 150px;
}

.logo{
    float: left;
    padding: 10px;
    width: 75%;
}

h1{
    font-size: 50px;
    font-weight: 600;
    color: royalblue;    
}

h2{
    font-size: 30px;
    font-weight: 600;
    color: royalblue;

}
main{       
    margin: 0 auto;
    width: 980px;
    position: relative;    
}

.corpo{
    background-color: rgba(77, 71, 71, 0.877);
    padding: 10px;
    width: 980px;
    position: relative; 
    box-shadow: blue;
}

img.lado{
    float: right;
}

.redes-sociais ul li{
    margin-left: 10px;
    display: inline-block;
    float: left;
    list-style: none;

}

.redes-sociais{
    float: right;
    width: 20%;
}

.header-2{
    background-color: #ffffff;
    width:980px;    
    margin: 0 auto;
    padding: 16px;
}

.menu-urls{
    height: 80px;
    border-bottom: 3px solid #efefef;
}

.menu ul li{
    display: inline-block;    
    color: #8b8b8b;
    margin-left: 18px;
}
.menu ul li a {      
    color: #8b8b8b;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}
.menu{
    float: left;
    width: 70%; 
}

.busca{
    text-align: center;
    width: 30%;
    float: right;    
}

.busca input{
    background-image: url('../imagens/search.png');
    background-repeat: no-repeat;
    background-position: 96%;
    padding: 6px;
    width: 190px;
    height: 35px;
    margin-top: 1px;
    border: 1px solid #8b8b8b;
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
}