
body{
    font-family: 'Source Code Pro', monospace;

}

.div1{
    text-align: left;
    text-shadow: darkblue;
    background-color: darkmagenta;
    box-shadow: black;
    border: black;
    border-radius: 10px;
    position: relative;
    margin: 0px;
    padding: 0px;

    max-width: 1000px;
    max-height: 400px;   

}

.div2{
    text-align: right;
}

.hover_underline{

    display: inline-block;
    position: relative;
    color: #0087ca

}

.hover_underline:after{

    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover_underline:hover::after{

    transform: scaleX(1);
    transform-origin: bottom left;
}


.mark{
    color: brown;
    font-family: 'Source Code Pro', monospace;

}
